.footer {
  margin-top: 180px;
  padding-bottom: 60px;

  @include breakpoint("tablet") {
    margin-top: 150px;
  }

  @include breakpoint("mobile") {
    padding-bottom: 20px;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 84px;
    border-top: 2px solid #151515;

    @include breakpoint("mobile") {
      padding-top: 30px;
      padding-bottom: 180px;
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 60px 20px;

    @include breakpoint("tablet") {
      display: block;
    }
  }

  &__callback {
    flex-shrink: 0;
  }

  &__copy {
    margin: 0;
    margin-left: auto;
    color: #47474C;
    font-size: 12px;
    line-height: 18px;

    @include breakpoint("tablet") {
      margin-top: 60px;
    }

    @include breakpoint("mobile") {
      margin-top: 40px;
    }
  }
}
