.header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 60px;
  padding-bottom: 60px;

  @include breakpoint("tablet") {
    padding-bottom: 70px;
  }

  @include breakpoint("mobile") {
    padding-top: 24px;
    padding-bottom: 60px;
  }

  &__logo {
    margin-left: 6px;
  }
}
